<!DOCTYPE html>
<html lan="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="content-wrapper">
    <header>
        <nav>
            {{#if loggedIn}}
            <a href="/" class="homepage">Homepage</a>
            <a href="/dashboard">Dashboard</a>
            <button id="logout" class="button">Log Out</button>
            {{else}}
            <a href="/login">Log In</a>
            <a href="/signup">Sign Up</a>
            {{/if}}
        </nav>
    </header>
    <main>
        {{{ body }}}
    </main>
    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
</html>