<article>
    <a href="/dashboard">Back</a>
    <h2>Edit Post</h2>
    <form class="edit-post">
        <div>
            <input name="post-title" type="text" value="{{post.title}}">
        </div>
        <div>
            <textarea name="post-content" id="post-content">{{post.content}}</textarea>
        </div>
    <button type="submit" class="save-btn">Save Post</button>
    <button type="button" class="delete-btn" id="delete-btn">Delete Post</button>
    <br></br>
    </form>
</article>


{{> comments post.comments}}
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
