<div class="column">
    <h2 class="title">login:</h2>
    <form class="login-info">
        <div>
            <label for="username-login">Username:</label>
            <input type="text" id="username-login">
        </div>
        <div>
            <label for="password-login">Password:</label>
            <input type="password" id="password-login">
        </div>
        <div></div>
        <button type="submit" class="login-button">Login</button>
        <a href="/signup"><button type="button" class="button">Sign Up</button></a>
        
    </form>
</div>


<script src="/javascript/login.js"></script>