<div class="column">
  <h2 class="title">Log In:</h2>
<form class="login-form">
  <div>
    <label for="username-login">Username:</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
    <button class="button" type="submit">Login</button>
    or <button class="signup-btn"><a href="/signup">Sign Up</a></button>
  </div>
</div>
  <script src="/javascript/login.js"></script>