<div class="column">
    <h2 class="title">Create New Account:</h2>
    <form class="sign-up-form">
        
    <div>
        <label for="username-sign-up">Username:</label>
        <input type="text" id="username-sign-up">
    </div>
    <div>
        <label for="password-sign-up">Password:</label>
        <input type="password" id="password-sign-up">
    </div>
    <button class="button" type="submit">Sign up</button>
    </form>
</div>


<script src="/javascript/signup.js"></script>


