:root {
    --primary-color: orange;
    --primary-hover: grey;
}

* {
    box-sizing: border-box;
 
  }

a, button {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    transition: color .1s;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.homepage {
    color: var(--primary-color);
    margin: 20px;
}


.post-list {
    margin: 0;
    padding: 0;
}


textarea {
    min-width: 50%;
    min-height: 75px;
    border: 1px solid black;
}

form label, div {
    display: block;
    margin-bottom: 2%;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
}

header {
    border-bottom: 1px solid black;
    text-align: center;
    margin: 5% 0 5% 0;
}

h4 {
    font-size: x-large;
}
main {
    padding: 2% 4%;
}


.logout-btn {
    background: none;
    border: none;
    padding: 0;
    color: var(--primary-color);
    font-size: 100%;
    font-weight: bold;
    margin-left: 16px;
}

.button {
    background-color: --primary-color;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    border: 0;
}

.delete-btn {
    background-color: --primary-color;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    border: 0;
}

.save-btn {
    background-color: --primary-color;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    border: 0;
}

.signup-btn {
    background-color: --primary-color;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    border: 0;
}

.post {
    margin-bottom: 3%;
    line-height: 200%;
}



.edit-link {
    display: block;
    margin: -2% 0 3% 0;
}

.comment {
    padding: 1%;
    margin-bottom: 1%;
    background-color:steelblue;
}

h2 {
    text-align: center;
}
.login-form {
    text-align: center;
}

.signup-form {
    text-align: center;
}

.new-post {
    text-align: center;
}



